
// Styling for the download section
section.contact {
    .row{
        margin-left:0 !important;
        margin-right:0;
    }
    .interest-label{
        margin-left:25px !important;
    }


    @media (max-width: 400px) {
        .contact-text {
            margin-left: 15px;
        }
        .interest-section{
            margin-left: 5px;
        }

    }

}
