// Styling for the education sections
$education-text-color: #404040;
$education-h2-size: 24px;

section.educationConsumers {
    color: $education-text-color;

    h2{
        font-size:$education-h2-size;
        font-weight: normal;
    }
    .big-num{
        font-size: 80px;
        font-weight: normal;
        font-family:"Roboto", "sans-serif";
    }
    p{
        line-height: 2.3;
        font-size: 14px;
    }

    .shadow-image{
        width:100%;
        border-radius: 4px;
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
    }

}

section.educationPrograms {
    color: $education-text-color;
    p{
        line-height: 2.3;
    }
    .big-num{
        font-size: 80px;
        font-weight: normal;
        font-family:"Roboto", "sans-serif";
    }
    h2{
        font-size:$education-h2-size;
        font-weight: normal;
    }
}


section.educationProducts {
    color: $education-text-color;
    li{
        margin-left:40px;
    }
    h2{
        font-size:$education-h2-size;
        font-weight: normal;
    }
    p{
        line-height: 2.3;
    }
}

section.educationNumbers {
    h4{
        color:#404040;
        font-weight: normal;
    }

    p{
        line-height: 2.3;
    }
    .big-num{
        font-size: 80px;
        font-weight: normal;
        font-family:"Roboto", "sans-serif";
    }
}
