// Styling for the features section
section.features {
    p{
        line-height: 1.75em;
    }


    .container {
        @media (min-width: 992px) {
            padding-left: 0;
            padding-right: 0;
        }
    }


    .section-heading {
        margin-bottom: 50px;
        h2 {
            margin-top: 0;
            font-size: 40px;
            font-weight: bold;
        }
        p {
            margin-bottom: 0;
        }
    }


}
