// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: white;
    border-bottom: 5px solid $theme-secondary;
    .nav-item{
        text-transform: uppercase;
    }
    @include transition-all;
    @include heading-font;
    .navbar-brand {
        font-size:40px;
        color: $theme-tertiary;
        @include logo-font;
        &:hover,
        &:focus {
            color: darken($theme-secondary, 10%);
        }
    }
    .navbar-toggler {
        font-size: 20px;
        padding: 8px 10px;
        color: $theme-tertiary;
    }
    .navbar-nav {
        > li {
            > a {
                font-size: 11px;
                font-weight: bold;
                @include alt-font;
                &.active {
                    color: $theme-tertiary !important;
                    background-color: white;
                    &:hover {
                        background-color: $theme-primary;
                    }
                }
            }
            > a,
            > a:focus {
                color: $theme-tertiary;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
    @media (min-width: 992px) {
        background-color: white;
        .navbar-brand {
            &:hover,
            &:focus {
                color: $theme-secondary;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: $theme-tertiary;
            &:hover {
                color: $theme-secondary;
            }
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: $theme-primary;
            .navbar-brand {
                color: $theme-tertiary;
                &:hover,
                &:focus {
                    color: $theme-secondary;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $theme-tertiary;
                &:hover {
                    color: $theme-secondary;
                }
            }
        }
    }
}
